body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px;
    font-family: "Mulish", sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

h1 {
    background-image: url('imágenes/imagenfondo.jpg'); /* Asegúrate de que esta ruta sea correcta */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 6.25rem; /* 100px en rem */
    font-weight: lighter;
    text-shadow: 0 0 0.625rem rgba(0,0,0,0.3); /* 20px en rem */
    text-decoration: underline;
    text-decoration-thickness: 0.125rem; /* 2px en rem */
    color: whitesmoke;
}

  
.beauRivage {
    font-family: "Beau Rivage", cursive;
}

.card {
    flex: 0 0 auto;
    margin: 0.75rem; /* 12px en rem */
    width: 18rem; /* Tamaño fijo para las tarjetas */
}

.card-img-top {
    height: 12rem; /* Altura fija para las imágenes */
    object-fit: cover;
}

.d-flex {
    display: flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.overflow-hidden {
    overflow: hidden; /* Oculta las barras de desplazamiento */
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem; /* Reducido para pantallas pequeñas */
    }

    .card {
        width: 15rem; /* Tamaño de tarjeta reducido en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3rem; /* Tamaño aún más reducido para pantallas más pequeñas */
    }

    .card {
        width: 12rem; /* Tamaño de tarjeta aún más reducido en pantallas muy pequeñas */
    }
}
